/* tooltip */
/*==========================================================*/
.b-tooltip {
    position: absolute;
    z-index: 999;
    text-align: left;
    left: 50%;
    margin-left: -100px;
    box-shadow: 0 0 3px rgba(0,0,0,.2);
    background-color: #fff;
    border-radius: 6px;
    @extend %border-box;
    padding: 10px;
    font-size: 13px;
    text-align: center;
    box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.35);
    &:before {
        content: '';
        display: block;
        position: absolute;
        left: 50%;
        margin-left: -10px;
        bottom: -10px;
        width: 20px;
        height: 10px;
        background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAKCAQAAAAeXLZtAAAARUlEQVQoz43KwRGAMBDDQPVfo3oxDwjc5AJE/nkWs5NB3GCC8EMNXDAf1IQC36gJE1zRkzU408EKfHLBlnDQym7YFtPfA7SbFJGAY7TNAAAAAElFTkSuQmCC') no-repeat 0 0;
    }
    &.ng-leave {
        -webkit-transition: 0.2s ease-in all;
        transition: 0.2s ease-in all;
        opacity: 1;
    }
    &.ng-leave.ng-leave-active {
        opacity: 0;
    }
}
.b-tooltip.mod_top {
    margin-bottom: 11px;
    &.ng-enter {
        -webkit-transition: 0.2s ease-in all;
        transition: 0.2s ease-in all;
        margin-bottom: 20px;
        opacity: 0;
    }
    &.ng-enter.ng-enter-active {
        margin-bottom: 11px;
        opacity: 1;
    }
}
.b-tooltip.mod_bottom {
    margin-top: 11px;
    &.ng-enter {
        -webkit-transition: 0.2s ease-in all;
        transition: 0.2s ease-in all;
        margin-top: 20px;
        opacity: 0;
    }
    &.ng-enter.ng-enter-active {
        margin-top: 11px;
        opacity: 1;
    }
    &:before {
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAKAgMAAADJO5Z1AAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAJUExURQAAAP///9zc3FW9W8kAAAABdFJOUwBA5thmAAAAM0lEQVQI12NgYNBgAIFpIIIptAFIcoYmAEnV0AggOTU0DCQcCpTgBJIJQOFQoMRUIBkGAOwBCrWhy8ATAAAAAElFTkSuQmCC');
        top: -10px;
    }
}
