/* Bet */
/*==========================================================*/
.bet {
    @extend %common-shadow;
    @extend %common-border-radius;
    padding: 20px 20px 20px 20px;
    background-color: #fff;
}

.bet-table-top {
    position: relative;
    display: table;
    width: 100%;
    margin-bottom: 20px;
    &__item {
        display: table-cell;
        vertical-align: top;
        text-align: center;
        &:first-child,
        &:last-child {
            padding-top: 6px;
            width: 170px;
        }
    }
}

.button-bet-top {
    min-width: 160px;
    @extend %btn;
    @extend %btn--gray;
    @extend %btn--size-normal;
    border-radius: 3px;
    &.mod_share:before {
        content:'';
        display: inline-block;
        vertical-align: middle;
        top: -1px;
        margin-right: 8px;
        position: relative;
        @extend %sprite;
        @include szp(ico-share);
    }
}

/* bet-data-select */
.bet-data-select {
    margin-bottom: 8px;
    font-size: 25px;
}
.bet-data-select-button {
    position: relative;
    display: inline-block;
    margin-right: 20px;
    color: #008a1c;
    @extend %inline;
    text-decoration: none;
    cursor: pointer;
    &:before {
        position: absolute;
        right: 0;
        bottom: 4px;
        left: 0;
        border-bottom: 1px dotted;
        content: '';
    }
    &:after {
        position: absolute;
        @extend %sprite;
        top: 16px;
        right: -20px;
        content: '';
        @include szp(arrow-down-green);
    }
    &:hover{
        color: #f66b0e;
        &:after {
            @include sp(arrow-down-yellow);

        }
    }
}

.bet-data-note {
    color: #999;
    font-size: 13px;
}

.labelst {
    @extend %inline;
    position: relative;
    z-index: 10;
    margin: 0 8px;
    color: #7d6e2c;
    font-weight: bold;
    &:before {
        position: absolute;
        top: -1px;
        right: -5px;
        bottom: -1px;
        left: -5px;
        z-index: -1;
        @extend %common-border-radius;
        background-color: #ffde50;
        content: '';
    }
}


/* bets */
.bets {
    &__share {
        background: #f0f0f0;
        display: inline-block;
        padding: 0 12px;
        line-height: 32px;
        height: 32px;
        border-radius: 4px;
        &-name {
            font-size: 18px;
            margin: 0 7px;
            color:#323232;
            display: inline-block;
            line-height: normal;
            vertical-align: middle;
        }
        &-sep {
            display: inline-block;
            @extend %sprite;
            @include szp(boll);
            vertical-align: middle;
            margin: 0 2px;
            position: relative;
            top: -1px;
        }
        &-flag {
            vertical-align: middle;
        }
    }
    &__item {
        margin-top: 20px;
        @extend %common-shadow;
        @extend %common-border-radius;
        @extend %first-top;
        padding: 10px;
        border: 2px solid transparent;
        &--true {
            border-color: #ffd938;
        }
        &--wine {
            border-color: #008a1c;
        }
        &--false {
            border-color: #ed1c24;
        }
        &--warn {
            border-color: #ffd938;
        }
        &--lock {
            border-color: #008a1c;
        }
        &--bet {
            border-color: #ace7b0;
        }
    }
    &__item-scoring {
        @extend %inline;
        font-size: 30px;
        &-value {
            margin: 0 15px;
            &.mod_fade {
               color: #c3c3c3; 
            }
        }
    }
    &__item-table {
        display: table;
        width: 100%;
    }
    &__item-table-td {
        text-align: center;
        display: table-cell;
        vertical-align: middle;
        &:first-child,
        &:last-child {
            width: 20.7%;
            text-align: left;
        }
    }

    &__item-country {
        padding-top: 2px;
        line-height: 100%;
        width: 130px;
        @extend %inline;
        font-size: 18px;
        &--left {
            text-align: right;
        }
        &--right {
            text-align: left;
        }
    }

    &__item-country-flag {
        @extend %inline;
        padding-top: 9px;
        line-height: 11px;
    }
    
    &__item-note {
        @include single-transition();
        font-size: 13px;
        text-shadow: 0px 0px 0px rgba(255, 25, 71, 0.0);
        color: #000;
        &--fade {
            color: #999;
        }
        &--time {
            &.state_active {
                color: #000;
                font-weight: normal;
                margin: 2px 0 0 3px;
                @extend .labelst;
            }
        }
    }
}

.input-scoring {
    width: 54px;
    @extend %input-text;
    @extend %input-text-size-medium;
    text-align: center;
    margin: 0 3px;
    &[readonly] {
        color: #c3c3c3;
    }
}

.form-scoring {
    @extend %inline;
}

.input-separator {
    @extend %inline;
    margin: 0 -2px;
    line-height: 42px;
    font-size: 30px;
    font-weight: bold;
    position: relative;
    top: -2px;
    .bets__item--true &,
    .bets__item--wine &,
    .bets__item--false & {
        color: transparent;
    }
}

/* bets-active */
.bets-active {
    padding-left: 24px;
    font-size: 13px;
    position: relative;
    line-height: 18px;
    &--fade {
        color: #999;
    }
    &--win {
        color: #caa300;
    }
//    &:before {
//        content: '';
//        width: 18px;
//        height: 18px;
//        border-radius: 50%;
//        background-color: #000;
//        position: absolute;
//        left: 0;
//        top: -2px;
//    }

    .bets__item--true & {
        color: #d2aa00;
    }
    .bets__item--wine & {
        color: #008a1c;
    }
    .bets__item--false & {
        color: #ed1c24;
    }
    .bets__item--lock & {
        color: #006c16;
    }
}

/* bet-data */
.bet-data {
    margin-top: -40px;
    &--prev {
        margin-top: 60px;
        &-title{
            text-align: center;
            border-top: 2px solid rgba(0,0,0,0.05);
            margin: 0 -20px;
            position: relative;
            top: 20px;
            & span {
                position: relative;
                top: -0.75em;
                background: #fff;
                padding: 0 5px 0 10px;
                text-transform: uppercase;
                letter-spacing: 5px;
                color: #a2a2a2;    
            }
        }
    }
    &__item {
        margin-top: 40px;
    }
    &__item_h {
        overflow: hidden;
        margin: 0 -3px -3px;
        padding: 0 3px 3px;
    }
    &__item-data {
        font-size: 23px;
        text-align: center;
        margin-bottom: 20px;
    }
    &__item-data-position {
        font-size: 13px;
        color: #a2a2a2;
    }
}

.ico-bets {
    position: absolute;
    left: 0;
    top: 1px;
    @extend %sprite;
    &--bet {
        @include szp(icon-bet);
    }
    &--bet-active {
        @include szp(icon-bet-active);
    }
    &--win {
        @include szp(ico-win);
    }
    &--win2 {
        @include szp(ico-win2);
    }
    &--wrong {
        @include szp(ico-wrong);
        top: 2px;
    }
    &--bet-lock {
        @include szp(ico-lock);
        top: -2px;
        left: 5px;
    }

}

.true-score,  {
    padding-top: 10px;
    font-size: 13px;
    line-height: 100%;
    .bets__item--true & {
        color: #d2aa00;
    }
    .bets__item--wine & {
        color: #008a1c;
    }
    .bets__item--false & {
        color: #ed1c24;
    }
}

/* button-bet */
.button-bet {
    font-size: 13px;
    border-radius: 5px;
    @extend %btn;
    @extend %btn--green;
    @extend %btn--size-normal;
    width: 100%;
}

/* aside-bottom-btn */
.aside-bottom-btn {
    text-align: center;
    padding: 14px;
    margin: 20px -20px -20px -20px;
    background-color: #f3f3f3;
    @extend %common-border-radius-bottom;
    &__link {
        @extend %inline;
        text-decoration: none !important;
        border-bottom: 1px dotted ;
        color: #000;
        cursor: pointer;
        @extend %link-active; 
        &:hover {
            .aside-bottom-btn__link-h {
                color: #f66b0e;
            }
        }
    }
    &__count {
        font-size: 11px;
        color: #a2a2a2;
    }
}

.a-error-flash {
    color: #cc0000;
    text-shadow: 0px 0px 10px rgba(255, 25, 71, 0.3);
}

.tooltip-bet {
    &-list {
        font-size: 16px;
        text-align: left;
    }
    &-item {
        border-radius: 3px;
        padding: 0 10px;
        display: block;
        height: 34px;
        line-height: 34px;
        white-space: nowrap;
        cursor: pointer;
        &:hover {
            background-color: lighten(#009a1f, 5%);
            .tooltip-bet-item-data {
                color: #fff;
                border-color: transparent;
            }
            .tooltip-bet-item-note {
                color: #fff;
            }
        }
        &.state_active {
            background-color: #009a1f;
            .tooltip-bet-item-data {
                color: #fff;
                border-color: transparent;
            }
            .tooltip-bet-item-note {
                color: #fff;
            }
        }   
    }
}
.tooltip-bet-item-data {
    color: #009a1f;
    border-bottom: 1px dotted;
}
.tooltip-bet-item-note {
    font-size: 13px;
    color: #a2a2a2;
}