/* news */
.sidebar-news {
    &__list {
        font-size: 13px;
        line-height: 20px;
        margin-bottom: 20px;
        min-height: 150px;
        &.state_loading {
            background: url(../../assets/i/button-loading.gif) 50% 50% no-repeat;
        }
    }
    &__item {
        margin-top: 20px;
        @extend %first-top;
    }
    &__item-link {
        text-decoration: none !important;
        color: #000;
        border-bottom: 1px solid #ccc;
        @extend %link-active;
        &:hover {
            border-color: #f66b0e;
        }
    }
    &__item-date {
        font-size: 11px;
        color: #999;
    }
    &__subscribe-link {
        @extend %link-active;
        font-size: 16px;
        color: #000;
    }
}