<div ng-if="isReady" stmwc-popup="top" width="800px">
    <content>
        <div class="users-score">
            <div class="users-score-top">
                <span ng-click="goBets()" class="button-users-score">← Сделать ставку</span>
                <div class="users-score-top__title">
                    Топ-20 Игроков
                </div>
            </div>

            <table class="users-score-table">
                <tbody>
                 <tr ng-repeat="item in data">
                    <td ng-if="!item.separator">
                        <div class="users-score-table__num">{{item.place | number:0}}</div>
                    </td>
                    <td ng-if="!item.separator">
                        <div class="users-score-table__userpic">
                            <img ng-if="item.avatar" class="users-score-table__userpic-h" ng-src="{{item.avatar}}" alt="{{item.name}}">
                        </div>
                    </td>
                    <td ng-if="!item.separator">
                        <div class="users-score-table__username">
                            {{item.name}} <span ng-if="item.self" class="your-item">— это вы</span>
                        </div>
                        <div class="users-score-table__balls">
                            <b>{{item.score | number:0}} Б</b>
                        </div>
                    </td>
                    <td ng-if="!item.separator">
                        <div class="users-score-table__bet">Всего <b>{{item.bets.count}}</b> {{item.bets.count | howmany:'ставка':'ставки':'ставок'}}</div>
                        <div ng-if="!item.bets['wine']" class="users-score-table__bet">Победитель не угадан ни разу</div>
                        <div ng-if="item.bets['wine']" class="users-score-table__true"><b>{{item.bets.wine}}</b> {{item.bets['wine'] | howmany:'раз':'раза':'раз'}} угадан победитель</div>
                        <div ng-if="item.bets['true']" class="users-score-table__count"><b>{{item.bets['true']}}</b> {{item.bets['true'] | howmany:'раз':'раза':'раз'}} угадан счёт</div>
                        <div ng-if="!item.bets['true']" class="users-score-table__bet">Счёт не угадан ни разу</div>
                    </td>
                    <td ng-if="!item.separator">
                        <span ng-class="'mod_' + item.stage" class="stage-ico"></span>
                    </td>
                    <td ng-if="item.separator" colspan="5"><span ng-if="item.count > 0" class="all-user-count">Ещё {{item.count | number:0}} {{item.count | howmany:'человек':'человека':'человек'}}</span><span ng-if="item.count == 0" class="all-user-count">Вы почти в топе!</span></td>

                </tr>
            </tbody></table>
        </div>
    </content>
</div>