/* news */
.sidebar-news {
    &__list {
        font-size: 13px;
        line-height: 20px;
        margin-bottom: 20px;
        min-height: 150px;
        &.state_loading {
            background: url(../../assets/i/button-loading.gif) 50% 50% no-repeat;
        }
    }
    &__item {
        margin-top: 20px;
        @extend %first-top;
    }
    &__item-link {
        text-decoration: none !important;
        @extend %link-active;
        color: #000;
        display: inline-block;
        & > * {
            border-bottom: 1px solid #ccc;
        }
        &:hover > * {
            border-color: #f66b0e;
        }
    }
    &__item-date {
        font-size: 11px;
        color: #999;
    }
    &__subscribe-link {
        @extend %link-active;
        font-size: 16px;
        color: #000;
    }
}
.sidebar-section__logo.mod_mailru {
    background: #168de2;
    margin: -20px -20px 20px -20px;
    padding: 15px 0;
    position: relative;
    border-radius: 6px 6px 0px 0;   
}