.l-popup {
    position: absolute;
    z-index: 9999;
    top: 0;
    display: table;
    /*table-layout: fixed;*/
    width: 100%;
    min-height: 100%;
    height: 100%;
    & > * {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }
}
.m_masked > :first-child {
    position: fixed;
}

.l-popup.ng-leave {
    @include single-transition();
    opacity: 1;
}
.l-popup.ng-leave-active {
    opacity: 0;
}
.l-popup.ng-enter {
    @include single-transition();
    opacity: 0;
}
.l-popup.ng-enter-active {
    opacity: 1;
}
