<div class="socials">
        <span ng-click="click('vk')" class="socials__button socials__button--vk"><span class="socials__button-count">{{counters.vk | number:0}}</span><span class="socials__button-h"></span></span>
        <span ng-click="click('fb')" class="socials__button socials__button--fb"><span class="socials__button-count">{{counters.fb | number:0}}</span><span class="socials__button-h"></span></span>
        <span ng-click="click('gp')" class="socials__button socials__button--g" ><span class="socials__button-count">{{counters.gp | number:0}}</span><span class="socials__button-h"></span></span>
        <span ng-click="click('tw')" class="socials__button socials__button--tw"><span class="socials__button-count">{{counters.tw | number:0}}</span><span class="socials__button-h"></span></span>
        <span ng-click="click('ok')" class="socials__button socials__button--ok"><span class="socials__button-count">{{counters.ok | number:0}}</span><span class="socials__button-h"></span></span>
</div>