.l-body {
    color: #000;
    font-size: 16px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    line-height: 1.4;
    -webkit-font-smoothing: antialiased;
    background: #fff9e5;
}  
.l-page {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
} 
.l-page > * {
  margin: 20px 0;
} 
.ll-page {
    width: 100%;
    background: url("../../assets/i/head.png") repeat-x 0 0;
}    
