@charset "UTF-8";

b, strong {
    font-weight: bold;
}

/* SELECTION */
/*==========================================================*/
::-moz-selection {
    background: #5577fc;
    text-shadow: none;
    }

::selection {
    background: #5577fc;
    text-shadow: none;
    }

