/* Popup */
/*==========================================================*/
.popup {
    position: relative;
    box-shadow: 0 5px 10px rgba(0,0,0,.3);
    min-width: 420px;
    text-align: left;
    border-radius: 6px;
    &--l {
        background: rgba(0,0,0, 0.3);
    }
    
    &--h {
        display: inline-block;
        margin: 0 auto;
        margin: 10px;
    }
    &--medium {
        width: 420px;
    }
    &--slider {
        width: 840px;
        .popup__content {
            border-radius: 6px;
        }
    }
    &__content {
        text-align: center;
        background-color: #fff;
        border-radius: 6px 6px 0 0;
        padding: 20px;
    }
    &__content:last-child {
        border-radius: 6px;
    }
    &__footer {
        @include background-image(linear-gradient(bottom, #fffae7 0%, #fffae7 6.18%, #fffae7 100%));
        border-radius: 0 0 6px 6px;
        padding: 20px;
        &--green {
            @include background-image(linear-gradient(bottom, #008a1c 0%, #009e20 100%));
        }
        &--purple {
            @include background-image(linear-gradient(bottom, #95287e 0%, #a4318c 100%));
        }
        &--link-reg {
            color: #fff;
            @extend %link-active;
            &-h {
                line-height: 38px;
                height: 38px;
                float: right;
            }
        }
    }
    &__title {
        font-size: 24px;
        line-height: 26px;
        text-align: center;
        margin-bottom: 20px;
    }
    &__note {
        margin-top: 10px;
        font-size: 13px;
        line-height: 20px;
        text-align: center;
        margin-bottom: 6px;
    }
    &__actions > * {
        margin-top: 10px;
    }
    &__close {
        @extend %sprite;
        @include szp(popup__close);
        position: absolute;
        top: 3px;
        right: 3px;
        opacity: .8;
        display: block;
        text-indent: -9999px;
        cursor: pointer;
        &:hover {
            opacity: .9;
        }
        &:active {
            opacity: 1;
        }
    }
}

.l-popup.ng-enter .popup {
    -webkit-animation: popup-enter 0.2s cubic-bezier(.17,.67,.6,1.36);
    animation: popup-enter 0.2s cubic-bezier(.17,.67,.6,1.36);
}
@-webkit-keyframes popup-enter {
    from {
        -webkit-transform: scale(0.8);
    }
    to {
        -webkit-transform: scale(1);
    }
}
@keyframes popup-enter {
    from {
        transform: scale(0.8);
    }
    to {
        transform: scale(1);
    }
}
