.code {
    &--buble {
        display: inline-block;
        background: #ffde50;
        color: #7d6e2c;
        font-size: 45px;
        line-height: 1.3em;
        padding: 0 0.3em;
        border-radius: 0.15em;
    }
}