<div ng-if="result != 3" stmwc-popup="code" width="350px">
    <content>
        <div ng-if="result === 0">
            <div class="popup__title">Вам начислено</div>
            <div class="code--buble">+{{score | number:0}}Б</div>
        </div>
        <div ng-if="result === 2">
            <div class="popup__title">Промокод использован</div>
            <div class="popup__note">Вы получили {{score | number:0}} баллов</div>
        </div>
        <div ng-if="result === 1">
            <div class="popup__title">Cсылка устарела</div>
            <div class="popup__note">Либо код предназначен другому пользователю</div>
        </div>
    </content>
    <footer class="popup__footer--green">
        <div class="button-center">
            <span ng-mousedown="close()" class="btn btn--subscribe">Закрыть</span>
        </div>
    </footer>
</div>