/* Toolbar */
/*==========================================================*/
.toolbar {
    @extend %clearfix;
    @extend %bg-clip;
    position: relative;
    height: 46px;
    border-radius: 7px;
    @include background-image(linear-gradient(bottom, #00891b 0%, #009e20 100%));
    &__logo {
        float: left;
        margin: 10px 20px 0 20px;
        text-indent: -9999px;
        @extend %sprite;
        @include szp(toolbar__logo);
    }
    &__share-h {
        float: right;
        line-height: 46px;
        height: 46px;
    }
    &__share {
        position: relative;
        top: -1px;
        line-height: normal;
        vertical-align: middle;
        display: inline-block;
    }
}


/* toolbar-buttons */
.toolbar-buttons {
    font-size: 0;
    float: left;
    &__item {
        @extend %inline;
        font-size: 16px;
        padding: 0 14px;
        height: 46px;
        line-height: 46px;
        color: #fff;
        text-shadow: 0 -1px 0 #004f0f;
        text-decoration: none;
        box-sizing: border-box;
        @extend %bg-clip;
        @include single-transition();
        border-bottom: #e4a600 solid 0px;
        &:hover {
            /*@extend %button-hover-yellow;*/
            border-bottom-width: 5px;
            color: #fff498;
        }
        &.state_active {
            @extend %button-hover-yellow;
            border-bottom: none;
            &:active {
                @extend %button-hover-yellow-active;
            }
            &:hover {
                @extend %button-hover-yellow;
            }
        }
        /*
        &:active {
            @extend %button-hover-yellow-active;
        }
        */
    }
}



.l-toolbar {
    position: fixed;
    top: 0;
    width: 100%;
    min-width: 1050px;
    z-index: 1000;
    background-image: linear-gradient(bottom, #00891b 0%, #009e20 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#009e20', endColorstr='#00891b');
    box-shadow: 1px 1px 15px 0px rgba(50, 50, 50, 0.35);
}

.toolbar-in {
    margin: 0 auto;
    width: 1000px;
    @extend %clearfix;
    @extend %bg-clip;
    position: relative;
    height: 46px;
    &__logo {
        float: left;
        margin: 16px 16px 0 20px;
        text-indent: -9999px;
        @extend %sprite;
        @include szp(toolbar__logo);
    }
}
