.b-mnogo {
    text-align: center;
    &__title {
        font-size: 24px;
        color: #95287e;
        margin-bottom: 15px;
    }
    &__submit {
        @extend %btn;
        @extend %btn--gray;
        @extend %btn--size-normal;
    }
}