<div stmwc-popup="sotmarket">
    <content>
        <div class="popup__title">Вход через Сотмаркет</div>
        <form ng-if="!isError" ng-class="isSubmited ? 'state_submited' : ''" name="model.form" ng-submit="submit()" ui-keypress="{13:'submit()'}" class="form g-form" novalidate>
            <fieldset>
                <div class="form-row">
                    <input ng-model="model.data.email" required type="email" name="email" placeholder="электронная почта" id="user-mail" class="input-text input-text--size-normal">
                </div>
                <div class="form-row">
                    <input placeholder="пароль" type="password" name="password" ng-model="model.data.password" required id="user-name" class="input-text input-text--size-normal">
                </div>
            </fieldset>
        </form>
        <div ng-if="isError">Неверный логин или пароль.</div>
    </content>
    <footer class="popup__footer--green">
        <div ng-if="!isError">
            <span ng-class="isSend ? 'state_loading' : ''" ng-mousedown="submit()" class="btn btn--subscribe">Войти</span>
            <div class="popup__footer--link-reg-h">
                <a href="http://www.sotmarket.ru/#register" class="popup__footer--link-reg">Зарегистрироваться</a>
            </div>
        </div>
        <div ng-if="isError" class="button-center">
            <span ng-click="again()" class="btn btn--subscribe">Войти снова</span>
        </div>
    </footer>
</div>