<!--
    @name stmwc:usershare.html
    @requires stmwc:usershare.html:usershare.scss
-->
<div stmwc-popup="usershare">
    <content class="usershare">
        <div class="usershare--head">
            <div class="usershare--head-userpic" stmwc-userpic="user.avatar" username="user.name"></div>
            <div class="usershare--head-info">
                <div class="usershare--head-name">{{user.name}}</div>
                <div class="usershare--head-score">{{user.score | number:0}} Б</div>
                <div class="usershare--head-place">{{user.place.user | number:0}} место из {{user.place.total | number:0}}</div>
            </div>
            <div class="usershare--head-bets">
                <div class="usershare--head-betstotal">{{user.name}}</div>
                <div class="usershare--head-betswins">{{user.score | number:0}} Б</div>
                <div class="usershare--head-betsscore">{{user.place.user | number:0}} место из {{user.place.total | number:0}}</div>
            </div>
            <div ng-class="'mod_' + user.place.stage" class="usershare--head-ico"></div>
        </div>
        <div class="usershare--bets">
                <div ng-class="bet.state ? 'bets__item--' + bet.state : ''" ng-repeat="bet in user.bets" class="bets__item">
                    <div class="bets__item-table">
                        <div class="bets__item-table-td">
                            <div class="bets__item-note bets__item-note--fade">Матч состоялся в {{bet.time | date:'HH:mm'}}</div>
                        </div>
                        <div class="bets__item-table-td">
                            <div class="bets__item-country bets__item-country--left">
                                <div>{{bet.data[0][1]}}</div>
                                <span class="bets__item-country-flag">
                                    <span ng-class="'flags--' + bet.data[0][0]" class="flags"></span>
                                </span>
                            </div>
                            <div class="bets__item-scoring">
                                    <span class="bets__item-scoring-value">{{bet.result[0]}}</span>
                                    <span class="bets__item-scoring-sep">:</span>
                                    <span class="bets__item-scoring-value">{{bet.result[1]}}</span>
                            </div>
                            <div class="bets__item-country bets__item-country--right">
                                <div>{{bet.data[1][1]}}</div>
                                <span class="bets__item-country-flag">
                                    <span ng-class="'flags--' + bet.data[1][0]" class="flags"></span>
                                </span>
                            </div>
                            <div class="true-score">Прогноз пользователя:<br>{{bet.result[0]}} : {{bet.result[1]}}</div>
                        </div>
                        <div class="bets__item-table-td">
                            <div ng-if="bet.state == 'true'" class="bets-active"><span class="ico-bets ico-bets--win"></span>Угадан победитель <span class="labelst">+{{bet.score}} Б</span></div>
                            <div ng-if="bet.state == 'wine'" class="bets-active"><span class="ico-bets ico-bets--win2"></span>Угадан <br>счет <span class="labelst">+{{bet.score}} Б</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </content>
</div>